


                    <div class="field" id="user-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                    </div>

                    <div class="field" id="contrasena-group">
                        <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                    </div>

                    <button type="submit" class="btn btn-primary" > <i class="fas fa-sign-in-alt"></i>  Ingresar </a></button>
                </form>

                <div class="form-group">
                    <a href="#">Recordar contrasena</a>
                </div>

                <div th:if="${param.error}" class="alert alert-danger" role="alert">
		            Contraseña y usuario invalida.
		        </div>

		        <div th:if="${param.logout}" class="alert alert-success" role="alert">
		            Bienvenido.
		        </div>

